
        .title {
            font-family: Arial;
            font-size: 30px;
            font-weight: bold;
            margin: 0 0 20px 0;
        }

        .description {
            font-family: Arial;
            font-size: 16px;
            margin-left: 50px;
        }

        .learn-more {
            font-family: Arial;
            color: rgb(70, 100, 200);
            margin: 0;
            cursor: pointer;
            margin-left: 100px;
        }